.student-card {
    border: 1px solid #c5c5c5;
    background-color: #fefefe;
    box-shadow: 1px 1px 5px rgba(89, 89, 89, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    transition: transform 0.3s ease;
    padding: 1.5rem;
}

.student-card:hover {
   transform: scale(1.05);
}

.student-name {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}